<footer class="footer" id="contact">
    <div class="section__container footer__container">
      <div class="footer__col">
        <img
          src="ROOT_PATH/assets/logo/logo.webp"
          alt="Eyedeal Vision - Contact Lens Supplier Kerala"
          class="footer__logo__img"
        />
  
        <p class="section__description">
          Professional contact lens supplier and distributor serving optical stores across Kerala since 2002.
        </p>
      </div>
      <div class="footer__col">
        <h4>Address</h4>
        <ul class="footer__links">
          <li><a>Wholesale Contact Lens Distribution</a></li>
          <li>
            <a href="https://maps.app.goo.gl/QrmTkEAusfuMBtqu8"
              >Srampickal Arcade, Kadakkarapally p.o, Cherthala, Kerala, 688529</a
            >
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h4>Opening Hours</h4>
        <ul class="footer__links">
          <li>Sunday: 9 am – 6 pm</li>
          <li>Monday: 9 am – 6 pm</li>
          <li>Tuesday: 9 am – 6 pm</li>
          <li>Wednesday: 9 am – 6 pm</li>
          <li>Thursday: 9 am – 6 pm</li>
          <li>Friday: 9 am – 6 pm</li>
          <li>Saturday: 9 am – 6 pm</li>
        </ul>
      </div>
      <div class="footer__col">
        <h4>Contact Us</h4>
        <ul class="footer__links">
          <li>
            <a href="tel:+919946899977">+91 99468 99977</a>
          </li>
          <li>
            <a href="mailto:info@eyedealvision.in">info@eyedealvision.in</a>
          </li>
          <div class="social-icons-wrapper">
            <li class="social-icons">
              <a
                href="https://www.facebook.com"
                target="_blank"
                ><i class="fa-brands fa-facebook"></i
              ></a>
            </li>
            <li class="social-icons">
              <a
                href="https://www.instagram.com"
                target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <div class="footer__policy">
      <a href="ROOT_PATH/terms-of-use.html">Terms of Use</a>
      <a href="ROOT_PATH/privacy-policy.html">Privacy Policy</a>
    </div>
    <div class="footer__bar">
      Copyright ©
      <script>
        document.write(new Date().getFullYear());
      </script>
      Eyedeal Vision - All Rights Reserved. Contact Lenses Supplier – Kerala
    </div>
    <div class="footer__company">
      <a href="https://eyedealvision.shop/">Online Store: <span>eyedealvision.shop</span></a>
    </div>
  </footer>